@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;}



.our_classes_container{
  background: url(../image/ourclasses.png) no-repeat center center;
  text-align: center;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.7);
}

.traning_partner_container{
  text-align: center;
  padding: 50px;
  background: #FFA50057;
}




.our_classes_container{
  text-align: center;
}

.our_classes_header h1{
  font-family: 'Poppins', sans-serif;
font-size: 40px;
font-weight: 700;
color: #030000;
display: inline-block; /* Makes the element only as wide as the text */
padding-bottom: 10px; /* Add the desired gap */
border-bottom: 2px solid black; /* Add the border */
}

.our_classes_body{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.our_classes_body>*{
  display: flex;
      flex-direction: column;
      margin: 15px;
}

.our_classes_body img{
  height: 200px;
  width: 200px;
}

.our_classes_body .utility-btn-3{
  background-color: red;
}

.traning_partner_container .utility-btn-3{
  background-color: gray;
}


.our_classes_container .utility-btn-3:hover {
  color: #ffffff;
}
